<h1>List of Works</h2>

<% @work.each do |work| %>
<ul>
  <li>
    <%= work.category %>
    <%= link_to work.title, work_path(work.id) %>
    <%= work.creator %>
    <%= work.publication_year %>
    <%= work.description %>
  </li>
</ul>
<% end%>