
<% if flash[:success] != nil && flash[:success] != "" %>

  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>

<% end %>

<% if flash[:error] != nil && flash[:error] != "" %>

  <div class="alert alert-warning" role="alert">
    <%= flash[:error] %>
  </div>

<% end %>

<% if flash[:already_voted] != nil && flash[:already_voted] != "" %>

  <div class="alert alert-warning" role="alert">
    <%= flash[:already_voted] %>
  </div>

<% end %>

<% if flash[:update_success] != nil && flash[:update_success] != "" %>

  <div class="alert alert-success" role="alert">
    <%= flash[:update_success] %>
  </div>

<% end %>


<p>Category: <%= @work.category %> </p>
<p>Title: <%= @work.title %> </p>
<p>Creator: <%= @work.creator %> </p>
<p>Pulication Year: <%= @work.publication_year %> </p>
<p>Description: <%= @work.description %> </p>

<%= link_to "List of Works", works_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary" %>
<%= link_to "Delete", work_path(@work.id), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure you want to delete #{@work.title} ?"}  %>
<%= link_to "Upvote", work_votes_path(@work.id), method: :post, class: "btn btn-primary" %>

<% @work.votes.each do |vote| %>
<ul>
  <li>
  <%= link_to vote.user.username, user_path(vote.user.id) %>
  <%= vote.date%>
  </li>
</ul>
<% end %>