
<% if flash[:welcome] != nil && flash[:welcome] != "" %>
  <div class="alert alert-success" role="alert">
    <%= flash[:welcome] %>
  </div>
<% end %>


<% if flash[:error] != nil && flash[:error] != "" %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_with model: @user, url: login_path do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.submit "Log In" %>

<% end %>