<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <%= link_to "View Top Media", works_path %>
    <%= link_to "View all Media", works_path %>
    <%= link_to "Add a new work", new_work_path %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
