<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<header class="app-header__header">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <h1>Media Ranker</h1>
    
  </nav>

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <%= link_to "View Top Media", root_path %>
    <%= link_to "View all Media", works_path %>
    <%= link_to "Add a new work", new_work_path %>
    <%= link_to "View all users", users_path %>

    <% if session[:user_id] %>
      <% user = User.find_by(id: session[:user_id]) %>
      <%=link_to "Logged in as #{session[:username]}", current_user_path, class: "btn btn-primary"%>
      <%=link_to "Log Out", logout_path, method: :post, class: "btn btn-primary"%>
    <% else %>
      <%=link_to "Log In", login_path, class: "btn btn-primary"%>
    <% end %>
  </nav>

</header>

  <% if flash[:welcome] != nil && flash[:welcome] != "" %>
    <div class="alert alert-success" role="alert">
      <%= flash[:welcome] %>
    </div>
  <% end %> 

    <% if flash[:delete_success] != nil && flash[:delete_success] != "" %>
    <div class="alert alert-success" role="alert">
      <%= flash[:delete_success] %>
    </div>
  <% end %> 

  <body>
    <%= yield %>
  </body>
</html>
